<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1>About this website</h1>

	<p>
		On the third day of battle, fighting resumed on Culp's Hill, and cavalry battles raged to the east and south, but the main event was a dramatic infantry assault by 12,500 Confederates against the center of the Union line on Cemetery Ridge, known as Pickett's Charge. The charge was repulsed by Union rifle and artillery fire, at great loss to the Confederate army.[15]

Lee led his army on a torturous retreat back to Virginia. Between 46,000 and 51,000 soldiers from both armies were casualties in the three-day battle, the most costly in US history.

On November 19, President Lincoln used the dedication ceremony for the Gettysburg National Cemetery to honor the fallen Union soldiers and redefine the purpose of the war in his historic Gettysburg Address.
	</p>
	<br><a href = "{% url 'home' %}">Home</a>
</body>
</html>